# generated documentation
/doc
/.phpdoc

# vscode settings
/.vscode

# legacy code
/legacy

# legacy testing
/testing-legacy

# internal-testing
/internal-testing

# ignore results of test_all
/testing/test_results.ansi