# add authentication information to header variables
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Headers for Cors
<IfModule mod_headers.c>
    Header add Access-Control-Allow-Origin "*"
    Header add Access-Control-Allow-Headers "origin, content-type, authorization"
    Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
</IfModule>

# Enable RewriteEnging and set it's base url
RewriteEngine On
# RewriteBase / # due to stack overflow copy & paste

# remove directory slash so competition can be accessed like every other api element (also be future prove if additional accessories are added to other api elements)
DirectorySlash Off
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_FILENAME}/index.php -f
RewriteRule (.*) $1/index.php [L]

# Add .php to url (if lacking) if the file exists on the server
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

# Always return http-status code 200 on OPTIONS Requests
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ blank.html [QSA,L]

# hide certain files and folders from the web (some only used during setup)
# setup file for the dataabse, can be abused to delete all data in the database configure in db/db_config.php
# RewriteRule ^setup_db\.php$ - [R=404]
# hide errors.php exposing it to the web isn't harmful but hiding it either
RewriteRule ^errors\.php$ - [R=404]
# hide folder containing all the "behind the scenes logic"
RewriteRule ^db/(.*) - [R=404]